{% extends "base.html" %}

{% block content %}
<main>
  <section class="container my-5 px-4">
    <h1 class="text-center"><span style="color:red">Ya</span>Cut</h1>
    <p class="text-center my-4">
      Создайте короткую ссылку автоматически или предложите свой вариант
    </p>

    <div class="row justify-content-center">
      <div class="col-md-6">

        <form method="POST">
          {{ form.hidden_tag() }}

          {{ form.original_link(class="form-control form-control-lg py-2 mb-3", placeholder="Длинная ссылка") }}
          {% for error in form.original_link.errors %}
            <span class="text-danger">{{ error }}</span>
          {% endfor %}

          {{ form.custom_id(class="form-control form-control-lg py-2 mb-3", placeholder="Ваш вариант короткой ссылки") }}
          {% for error in form.custom_id.errors %}
            <span class="text-danger">{{ error }}</span>
          {% endfor %}

          <input type="submit" class="btn btn-primary" value="Создать">
        </form>

        {% with messages = get_flashed_messages(with_categories=true) %}
          {% if messages %}
            {% for category, message in messages %}
              <div class="alert alert-{{ category }} mt-3">
                {% if category == 'success' %}
                  Ваша короткая ссылка: <a href="{{ message }}" target="_blank" rel="noopener noreferrer">{{ message }}</a>
                {% else %}
                  {{ message }}
                {% endif %}
              </div>
            {% endfor %}
          {% endif %}
        {% endwith %}

      </div>
    </div>

  </section>
</main>
{% endblock %}